/* Conteudo gerais */

* {
    box-sizing: border-box;
    font-family: sans-serif;
    padding:0;
    margin:0;
}

a {
    text-decoration: none;
    color: initial;
}

/* header */

#header {
    display: flex;
    justify-content: center;
    height: 120px;
    width: 100%;
}

.containerFull {
    width: 990px;
}

.content-header{
    display: flex;
    justify-content: space-between;
}

.logo, .menu {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li a{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 15px;
    font-size: 15px;
    font-family: Arial, Helvetica;
    color:#727272
}

nav .active a,
nav li a:hover {
    background-color: rgb(56, 165, 255);
    color: white;
}

/* Area banner - Titulo*/

#banner {
    display: flex;
    justify-content: center;
    background-image: url("../img/img1.jpg");
    background-size:cover;
    background-position: center;
    height: 670px;
}

.content-banner {
    display: flex;
    flex-direction: column;
}

.container-title, .container-info {
    width: 100%;
}

.container-title {
    flex: 1;
    display: flex;
    align-items: center;
    max-width: 370px;
}

.container-title h2 {
    margin:0;
    margin-bottom: 25px;
    font-size: 70px;
    font-weight: 400;
    color: white;
    text-shadow: 1px 1px 1px #555;
}

.container-title small {
    font-size: 23px;
    font-weight: 400;
    color: white;
    text-shadow: 0 1px 1px #555;
}

/*containers das infos dentro do banner */

.container-info {
    display: flex;
    height: 210px;
}

.content-emergency, 
.content-doctors, 
.content-opening {
    flex: 1;
    padding: 20px;
    color: white;
}

.content-emergency{
    background-color: #39aae1;
}

.content-doctors {
    background-color: #0079c7;
}

.content-opening {
    background-color: #2b4c99;
}

.content-opening h2 {
    margin-bottom: 20px;
}

.title-info {
    margin:0;
}

.text-info {
    margin: 20px 0 35px 0;
    font-size: 14px;
}

.button-info {
    padding:10px;
    height: 50px;
    box-shadow: 0px 0px 4px white;
    text-shadow: 0 1px 1px #555;
    color: white;
}

.button-info:hover{
    background-color: rgb(0, 162, 255);
}

.table-hours {
    display: flex;
    justify-content: space-between;
    font-size: 14px
}

.separator {
    border-color: rgba(151, 151, 151, 0.562);
}

.table-hours,
.separator {
    margin: 10px 0;
}

/* Conteudo principal */

main {
    display: flex;
    justify-content: center;
}

#container-main {
    display: flex;
}

.last-news {
    flex:2;
    height: 100%;
}

/* Titulos */

.widget-title {
    margin: 30px 0 20px 0;
}

.widget-title h3 {
    font-size: 20px;
}

.separator-titles {
    width: 50px;
    height: 3px;
    margin-top: 10px;
    background-color: #36a9e1;
    opacity: 1;
}

/* ------- */



/* aside */

.container-secondary {
    flex: 1;
}

.widget-departaments{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-departaments {
    height: 150px;
    width: 150px;
    margin-bottom:25px;
    background-color: teal;
}

.content-departaments:nth-child(5n),
.content-departaments:nth-child(6n) {
    margin-bottom: 0;
}

.text-appointment {
    font-size: 14px;
    margin-bottom: 20px;
}

.phone-appointment,
.email-appointment,
.page-appointment {
    display: flex;
    align-items: center;
}

.icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background-color:cadetblue;
}

.appointment-info div p {
    font-size: 13px;
}

.appointment-info div a{
    text-decoration: underline;
    color: rgb(67, 121, 221);
}